%scroll-bar {
  overflow-y: auto;

  scrollbar-face-color: #00000003;
  scrollbar-track-color: rgba(0, 0, 0, 0.1);
  //noinspection CssUnknownProperty
  scrollbar-color: #a5a2a2 rgba(0, 0, 0, 0.1);
  //noinspection CssUnknownProperty
  scrollbar-width: thin;

  &::-webkit-scrollbar-thumb {
    position: absolute;
    border-radius: 35px;
    background-color: #DFDFDF;
    box-shadow: inset 0 0 0 1px #CFCFCF;
  }

  &::-webkit-scrollbar-track {
    position: absolute;
    border-radius: 10px;
    background-color: #EFEFEF;
  }

  &::-webkit-scrollbar {
    position: absolute;
    width: 12px;
  }
}

%scroll-bar-x {
  overflow-x: auto;

  &::-webkit-scrollbar {
    position: absolute;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    position: absolute;
    background: #EFEFEF;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #DFDFDF;
    transition: background 250ms;
    box-shadow: inset 0 0 0 1px #CFCFCF;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #a5a2a2;
  }
}

* {
  @extend %scroll-bar, %scroll-bar-x;
  overflow: unset;
}
