<div *ngIf='bankContactData' class='branch_container'>
  <mat-icon svgIcon='close' (click)='close()'></mat-icon>
  <div class="contact-wrapper">
    <div class='branch_product-info'>
      <p class='branch_product-title'>{{bankContactData?.title}}</p>
      <img appImageCache [appSetImage]='{id: bankContactData.logo}' alt=''>
    </div>
    <div class='branch_info-container'>

      <div *ngFor='let rec of bankContacts?.branches' class='branch_info'>
        <div class='branch_info-wrapper'>
          <p class='branch_header'>Офис:</p>
          <p class='branch_text'>{{rec.city}}, {{rec.address}}</p>
        </div>
        <div class='branch_info-wrapper'>
          <p class='branch_header'>Телефон:</p>
          <p class='branch_text'>{{rec.phone}}</p>
        </div>
      </div>

      <div *ngIf='!bankContacts?.branches || bankContacts.branches.length === 0' class='branch_info'>
        <div class='branch_info-wrapper'>
          <p class='branch_header'>Офис:</p>
          <p class='branch_text'>Нет данных</p>
        </div>
        <div class='branch_info-wrapper'>
          <p class='branch_header'>Телефон:</p>
          <p class='branch_text'>Нет данных</p>
        </div>
      </div>
    </div>
  </div>
</div>
<button class='button-primary button-back' (click)='close()'>Вернуться назад</button>
