<div [formGroup]="formPassword">
  <div class="alert-msg"
       *ngIf="isSuccess || isError"
       [class.error-alert]="isError"
       [class.success-alert]="isSuccess"
  >
    <label>{{message}}</label>
  </div>
  <div class='change-password_wrapper'>
    <div>
      <mat-label>{{'current_password' | translate}}</mat-label>
      <input type='password' class='input-form' formControlName="oldPassword" placeholder="{{'enter_password' | translate}}">
    </div>
    <div>
      <mat-label>{{'new_password' | translate}}</mat-label>
      <input type='password' class='input-form' formControlName="newPassword" (ngModelChange)="change()" placeholder="{{'pick_a_password' | translate}}">
    </div>
    <div>
      <mat-label>{{'confirm_password' | translate}}</mat-label>
      <input type='password' class='input-form' (ngModelChange)="change()" formControlName="repeatNewPassword" placeholder="{{'repeat_password' | translate}}">
      <p class="error-message" *ngIf="isNotEqual">Пароли не совпадают</p>
    </div>
  </div>
  <div>
    <div class='error-wrapper'>
      <span>Пароль должен состоять: </span>
    </div>
    <div class='error-wrapper'>
      <mat-icon svgIcon='ellipse' *ngIf='isMinEightCharacter'></mat-icon>
      <mat-icon svgIcon='no-color-check-mark' class='check-icon' *ngIf='!isMinEightCharacter'></mat-icon>
      <span class="{{isMinEightCharacter? 'error-msg' : 'success-msg'}}">Минимум 8 символов</span>
    </div>
    <div class='error-wrapper'>
      <mat-icon svgIcon='ellipse' *ngIf='isMinOneNumber'></mat-icon>
      <mat-icon svgIcon='no-color-check-mark' class='check-icon' *ngIf='!isMinOneNumber'></mat-icon>
      <span class="{{isMinOneNumber? 'error-msg' : 'success-msg'}}">Минимум одну цифру</span>
    </div>
    <div class='error-wrapper'>
      <mat-icon svgIcon='ellipse' *ngIf='isMinOneLowCharacter'></mat-icon>
      <mat-icon svgIcon='no-color-check-mark' class='check-icon' *ngIf='!isMinOneLowCharacter'></mat-icon>
      <span class="{{isMinOneLowCharacter? 'error-msg' : 'success-msg'}}">Одну латинскую букву нижнего регистра</span>
    </div>
    <div class='error-wrapper'>
      <mat-icon svgIcon='ellipse' *ngIf='isMinOneUpperCharacter'></mat-icon>
      <mat-icon svgIcon='no-color-check-mark' class='check-icon' *ngIf='!isMinOneUpperCharacter'></mat-icon>
      <span class="{{isMinOneUpperCharacter? 'error-msg' : 'success-msg'}}">Одну латинскую букву верхнего регистра</span>
    </div>
    <div class='error-wrapper'>
      <mat-icon svgIcon='ellipse' *ngIf='isMinOneSpecialCharacter'></mat-icon>
      <mat-icon svgIcon='no-color-check-mark' class='check-icon' *ngIf='!isMinOneSpecialCharacter'></mat-icon>
      <span class="{{isMinOneSpecialCharacter? 'error-msg' : 'success-msg'}}">Один специальный символ(!, @, ., /, (, ), _, #, $, %, ^, &, +, =, -)</span>
    </div>
  </div>
  <button [class.button-enabled]="formPassword.valid && !isNotEqual"
          [disabled]="!formPassword.valid && isNotEqual" (click)="changePass()">{{'save' | translate}}</button>
</div>
