@import "variables";

mat-label {
  color: $grey-text-color;
  font-size: 12px;
  margin-bottom: 2px;
  height: auto;
}

::placeholder {
  font-size: 16px;
  color: $placeholder-color;
}

input {
  margin-bottom: 1.5vh;
}

.change-password {

  &_wrapper {
    display: grid;
    width: 22vw;
    grid-template-rows: repeat(3, auto);
  }
}

button {
  float: right;
  border: none;
  color: $main-white;
  padding: 1.5vh;
  border-radius: 8px;
  font-size: 18px;
  margin-top: 3vh;
  background: $secondary-text-color;
}

.button-enabled {
  background: $primary-btn-color;
  cursor: pointer;
}

.error-message {
  color: red;
}

.alert-msg {
  display: flex;
  padding: 1vh 1vw;
  justify-content: center;
  color: white;
  font-size: 19px;
  margin-bottom: 3vh;
  border-radius: 8px;
}

.error-alert{
  background-color: $cancel-btn-color;
}

.success-alert{
  background-color: $main-green;
}

.check-icon {
  color: $main-green;
}

.error-msg {
  color: $delete-red !important;
}

.success-msg {
  color: green !important;
}

.error-wrapper {
  margin-bottom: 5px;

  mat-icon {
    height: 9px;
    margin-right: 5px;
  }

  span {
    color: $grey-text-color;
  }
}

@media screen and (max-width: $phone-screen-width) {
  .change-password {
    &_wrapper {
      width: inherit;
    }
  }

  button {
    width: inherit;
    margin-bottom: 2vh;
  }
}
