<div class="footer">
  <div class="footer_wrapper">
    <div class="footer_wrapper_main">
      <div class="footer_left">
        <h1>{{'your_finance' | translate}}</h1>
        <p>{{'cons_cred_def' | translate}}</p>
      </div>

      <div class="footer_center">
        <label>{{'sections' | translate}}</label>
        <p (click)="linkTo('client')">{{'credit_selection' | translate}}</p>
        <p (click)="linkTo('news')">{{'news' | translate}}</p>
      </div>

      <div class="footer_right">
        <label>{{'tech_support' | translate}}</label>
<!--        <div class="footer_right-links">-->
<!--          <mat-icon class="link-icon" svgIcon="instagram"></mat-icon>-->
<!--          <mat-icon class="link-icon" svgIcon="vk"></mat-icon>-->
<!--          <mat-icon class="link-icon" svgIcon="facebook"></mat-icon>-->
<!--        </div>-->
        <a>Help.YourFinance.kz@gmail.com</a>
<!--        <a>+7 778 838 3831</a>-->
      </div>
    </div>

    <hr>

    <div class="footer_corporation">
      <p>{{'copyright' | translate}}</p>
    </div>
  </div>

</div>
